/* 9-25: Set up a media query that burger-fies the top menu and turns the cards section to have a single column layout */

body {margin: 0;}
a { text-decoration: none; color: white;}

.parent {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 150px auto auto auto;
    font-family: monospace;
    background: radial-gradient(ellipse at bottom, #0c2a38 0%, #0d1943 100%, #043f4f);
    color: white;
}

.header{
    grid-column: 2 / 3;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    place-items: center;
}

ul {
    margin: 20px auto;
    padding: 0px;
}

.horizontalLis {
    color: white;
    display: inline;
    margin: 20px 10px 20px 10px;
}

.HIDDEN {
    display: none;
}

.burgerBox {
    display: inline;
}

.orangeLinks {
    color: rgb(214, 163, 21);
}

#abbaLogo {
    height: 50px;
    transform: translateY(25%);
}

.tinyLogoTOP {
    height: 18px;
    margin: 0 10px 0 10px;
}

.tinyLogoBOTTOM {
    height: 18px;
    margin: 0 10px 0 10px;
}

button {
    background-color: #00334d;
    color: white;
    font-family: monospace;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(214, 163, 21);
    font-size: 12px;
}

.burger div{
    width: 25px;
    height: 2px;
    border-radius: 20px;
    margin: 3px;
    background-color: white;
    display: block;
  }

/* END HEADER START PADDING SPACE */

.left-side {
     grid-column: 1 / 2;
}

.right-side {
    grid-column: 3 / 4;
}

/* PHOTO SPLASH CONTENT SPACE */

.iframe {
    grid-column: 2 / 3;
    color: white;
}

#abbaPhoto {
    width: 100%;
}

/* FULL SITE WIDTH CONTENT SPACE */

.fullWidthContent {
    grid-column: 1 / 4;
    margin-top: 20px;
    width: 100%;
    background-color: #ebf5ee;
    color: black;
    display: grid;
    grid-template-columns: 10% auto 10%;
    width: 100%;
}

.cardContainer {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.contentCard {
    margin: 20px 10px 40px 10px;
    background-color: white;
    border: 1px solid rgb(214, 163, 21);
    padding: 10px;
    color: rgb(65, 65, 65);
    text-align: left;
    font-size: 14px;
}

.cCImg {
    width: 100%;
    object-fit: scale-down;
}

.cCText {
    font-size: 10px;
}

/* FOOTER CONTENT*/

.footer {
    grid-column: 1 / 4;
    padding: 2rem 4rem 0px 4rem;
    display: grid;
    grid-auto-columns: 10% auto 10%;
    background-color: #111111;
    letter-spacing: 4px;
}

.footerColumnContainer {
    display: grid;
    grid-column: 2 / 3;
    grid-auto-columns: 33.3% 33.3% 33.3%;
    padding: 0px 6rem 0px rem;
}

#footerColumn1 { 
    grid-column: 1 / 2;
}

#footerColumn2 { 
    grid-column: 2 / 3;
}

#footerColumn3 { 
    grid-column: 3 / 4;
}

.flis {
    margin: 30px;
    color: grey;
}

#footerText {
    color: grey;
}



@media screen and (max-width:1200px){
  
    .parent {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 100px auto auto auto;
        font-family: monospace;
        color: white;
    }
    
    .header {
        background-color: black;
        grid-column: 1 / 4;

    }

    #abbaLogo {
        height: 30px;
        transform: translateY(25%);
    }

    .cardContainer {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .footerColumnContainer {
        display: grid;
        grid-column: 1 / 4;
        grid-auto-columns: 33.3% 33.3% 33.3%;
        padding: 0px 6rem 0px rem;
    }

}

@media screen and (max-width:910px){
  
    .parent {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 100px auto auto auto;
        font-family: monospace;
        color: white;
    }

    .header{
        grid-row: 1;
        grid-column: 1 / span 3;
        display: flex;
        place-items: center;
    }

    #hideList {
        display: none;           
    }

    .HIDDEN {
        display: block;
    }

    #hiddenLogo {
        height: 30px;
    }

    /* Second part of the webpage */

    .cardContainer {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: auto;
    }

    /* Third part of the webpage */

    .footer {
        letter-spacing: 1px;
    }

    .hideSMWord {
        display: none;
    }

    ul {
        list-style: none;
    }

    .tinyLogoBOTTOM {
        height: 40px;
        margin: 0 10px 0 10px;
    }

}