body {
    background: radial-gradient(ellipse at bottom, #0c2a38 0%, #0d1943 100%, #043f4f);
    background-repeat: no-repeat;
    background-size: auto;
    color: whitesmoke;
    font-family: monospace;
}

.parent {
    display: grid;
    place-items: center;
    grid-template: 100px auto 200px / 300px auto 300px;
}

nav {
    grid-column: 2/3;
    display: flex;
    place-items: center;
}

#logo {
    height: 50px;
}

#logoblock {
    height: 50px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 8px;
    letter-spacing: 3px;
    margin: 4px
}

.navLinks{
  display: flex;
  place-items: center;
}

li{
  font-size: 12px;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
  vertical-align: middle;
  margin: 40px 15px 30px 15px;
  list-style: none;
}

.rslinks {
    display: inline;
    width: 120px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: .5ch;
}

button {
    background-color: #0c2a38;
    width: 150px;
    height: 50px;
    color: white;
    text-align: center;
    border: 1px solid rgb(231, 188, 124);
    font-family: monospace;
}

.icon {
    margin: 40px 15px 30px 15px;
    height: 15px;
}

.burger div{
  width: 25px;
  height: 2px;
  border-radius: 20px;
  margin: 3px;
  background-color: whitesmoke;
  display: none;
}

.twothree {
    grid-column: 2/3;
    margin: 40px 30px 10px 30px;
}








@media screen and (max-width:859px){
  
  .burger div{display: block;}

  .navLinks li{opacity: 0%; transition: opacity .3s ease-in;}
  
  .navActive{opacity: 100%;}
  
  @keyframes navLinkFade{
    from{opacity: 0%;}
    to{opacity: 100%;}
  }
}