.parent {
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: 10% auto 10% 10%;
    font-family: monospace;
    background: radial-gradient(ellipse at bottom, #0c2a38 0%, #0d1943 100%, #043f4f);
    color: white;
}

.header{
    padding: 2rem 0px 2rem 0px;
    grid-column: 2/3;
    font-size: 12px;
}

ul {
    margin: 0 auto;
}

.horizontalLis {
    display: inline-block;
    margin: 20px 10px 20px 10px;
}

.horizontalLisRJ {
    color: yellow;
    display: inline;
    margin: 20px 10px 20px 10px;
}

#abbaLogo {
    height: 50px;
    transform: translateY(25%);
}

#tinyLogo {
    height: 18px;
    margin: 0 10px 0 10px;
}

button {
    background-color: #00334d;
    color: white;
    font-family: monospace;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(214, 163, 21);
    font-size: 12px;
}

/* END HEADER START PADDING SPACE */

.left-side {
     grid-column: 1 / 2;
}

.right-side {
    grid-column: 3 / 4;
}

/* PHOTO SPLASH CONTENT SPACE */

.iframe {
    grid-column: 2 / 3;
    color: white;
}

#abbaPhoto {
    width: 100%;
}

/* FULL SITE WIDTH CONTENT SPACE */

.fullWidthContent {
    grid-column: 2 / 3;
    margin-top: 20px;
    width: 100%;
    background-color: #ebf5ee;
    color: black;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 100%;
}

.contentCard {
    margin: 20px 15px 40px 15px;
    background-color: white;
    color: rgb(65, 65, 65);
    text-align: left;
    font-size: 18px;
}

.cCImg {
    width: 100%;
    object-fit: scale-down;
}

.cCText {
    font-size: 10px;
}

/* FOOTER CONTENT*/

.footer {
    grid-column: 2 / 4;
    margin-top: 20px;
    padding: 2rem;
    display: grid;
    grid-auto-columns: auto;
    background-color: #111111;
}

#footerColumn1 { 
    grid-column: 1 / 2;
}

#footerColumn2 { 
    grid-column: 2 / 3;
}

#footerColumn3 { 
    grid-column: 3 / 4;
    text-align: right;
}

.flis {
    margin: 10px;
    color: grey;
}


@media screen and (max-width:1100px) {
  
    
    
}